In [13]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
#%matplotlib inline
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', 8)
pd.set_option('precision', 3)

from pandas_datareader import data as web

start = datetime.datetime(2012, 1, 1)
end = datetime.datetime(2012, 12, 30)

#amzn = web.get_quote_yahoo('AMZN')
#amzn
msft = web.DataReader("MSFT","google",start,end)
aapl = web.DataReader("AAPL",'google',start,end)
msft.head(3)

             Open   High    Low  Close    Volume
Date
2012-01-03  26.55  26.96  26.39  26.76  64735391
2012-01-04  26.82  27.47  26.78  27.40  80519402
2012-01-05  27.38  27.73  27.29  27.68  56082205

In [19]:
msftA01 = msft['2012-01'][['Open']]
msftA02 = msft['2012-02'][['Open']]
msftA01[:3]

             Open
Date
2012-01-03  26.55
2012-01-04  26.82
2012-01-05  27.38

In [20]:
msftA02[:3]

             Open
Date
2012-02-01  29.79
2012-02-02  29.90
2012-02-03  30.14

In [27]:
pd.concat([msftA01.head(3),msftA02.head(3)])

             Open
Date
2012-01-03  26.55
2012-01-04  26.82
2012-01-05  27.38
2012-02-01  29.79
2012-02-02  29.90
2012-02-03  30.14

In [23]:
aaplA01 = aapl['2012-01'][['Open']]
withDups = pd.concat([msftA01.head(3),aaplA01.head(3)])
withDups

             Open
Date
2012-01-03  26.55
2012-01-04  26.82
2012-01-05  27.38
2012-01-03  58.49
2012-01-04  58.57
2012-01-05  59.28

In [30]:
withDups.loc['2012-01-03']

             Open
Date
2012-01-03  26.55
2012-01-03  58.49

In [32]:
msftAV = msft[['Open','Close']]
aaplAV = aapl[['Open','Close']]
pd.concat([msftAV,aaplAV])

             Open  Close
Date
2012-01-03  26.55  26.76
2012-01-04  26.82  27.40
2012-01-05  27.38  27.68
2012-01-06  27.53  28.10
...           ...    ...
2012-12-24  74.34  74.31
2012-12-26  74.14  73.29
2012-12-27  73.36  73.58
2012-12-28  72.90  72.80

[498 rows x 2 columns]

In [34]:
aaplA = aapl[['Open']]
pd.concat([msftAV,aaplA])

            Close   Open
Date
2012-01-03  26.76  26.55
2012-01-04  27.40  26.82
2012-01-05  27.68  27.38
2012-01-06  28.10  27.53
...           ...    ...
2012-12-24    NaN  74.34
2012-12-26    NaN  74.14
2012-12-27    NaN  73.36
2012-12-28    NaN  72.90

[498 rows x 2 columns]

In [35]:
pd.concat([msftAV,aaplA],join='inner')

             Open
Date
2012-01-03  26.55
2012-01-04  26.82
2012-01-05  27.38
2012-01-06  27.53
...           ...
2012-12-24  74.34
2012-12-26  74.14
2012-12-27  73.36
2012-12-28  72.90

[498 rows x 1 columns]

In [37]:
msftA = msft[['Open']]
closes = pd.concat([msftA,aaplA],axis=1)
closes

             Open   Open
Date
2012-01-03  26.55  58.49
2012-01-04  26.82  58.57
2012-01-05  27.38  59.28
2012-01-06  27.53  59.97
...           ...    ...
2012-12-24  27.20  74.34
2012-12-26  27.03  74.14
2012-12-27  26.89  73.36
2012-12-28  26.71  72.90

[249 rows x 2 columns]

In [39]:
pd.concat([msftAV[:5],aaplAV[:3]],axis=1,keys=['MSFT','AAPL'])

             MSFT          AAPL
             Open  Close   Open  Close
Date
2012-01-03  26.55  26.76  58.49  58.75
2012-01-04  26.82  27.40  58.57  59.06
2012-01-05  27.38  27.68  59.28  59.72
2012-01-06  27.53  28.10    NaN    NaN
2012-01-09  28.05  27.74    NaN    NaN

In [42]:
pd.concat([msftA[:5],aaplA[:3]],axis=1,join='inner',keys=['MSFT','AAPL'])

             MSFT   AAPL
             Open   Open
Date
2012-01-03  26.55  58.49
2012-01-04  26.82  58.57
2012-01-05  27.38  59.28

In [43]:
pd.concat([msftA[:3],aaplA[:3]],ignore_index=True)

    Open
0  26.55
1  26.82
2  27.38
3  58.49
4  58.57
5  59.28

In [48]:
msftAR = msftA.reset_index()
msftVR = msft[['Close']].reset_index()
msftAR[:3]

        Date   Open
0 2012-01-03  26.55
1 2012-01-04  26.82
2 2012-01-05  27.38

In [52]:
msftVR[:3]

        Date  Close
0 2012-01-03  26.76
1 2012-01-04  27.40
2 2012-01-05  27.68

In [53]:
msftCVR = pd.merge(msftAR,msftVR)
msftCVR[:5]

        Date   Open  Close
0 2012-01-03  26.55  26.76
1 2012-01-04  26.82  27.40
2 2012-01-05  27.38  27.68
3 2012-01-06  27.53  28.10
4 2012-01-09  28.05  27.74

In [54]:
msftAR0_5 = msftAR[0:5]
msftAR0_5

        Date   Open
0 2012-01-03  26.55
1 2012-01-04  26.82
2 2012-01-05  27.38
3 2012-01-06  27.53
4 2012-01-09  28.05

In [56]:
msftVR2_4 = msftVR[2:4]
msftVR2_4

        Date  Close
2 2012-01-05  27.68
3 2012-01-06  28.10

In [58]:
pd.merge(msftAR0_5,msftVR2_4)

        Date   Open  Close
0 2012-01-05  27.38  27.68
1 2012-01-06  27.53  28.10

In [59]:
pd.merge(msftAR0_5,msftVR2_4,how='outer')

        Date   Open  Close
0 2012-01-03  26.55    NaN
1 2012-01-04  26.82    NaN
2 2012-01-05  27.38  27.68
3 2012-01-06  27.53  28.10
4 2012-01-09  28.05    NaN

In [61]:
pd.merge(msftAR0_5,msftVR2_4,how='right')

        Date   Open  Close
0 2012-01-05  27.38  27.68
1 2012-01-06  27.53  28.10